<footer>

    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/raunakkarn555/"><i class="fa-brands fa-square-linkedin"></i></a>
            <a href="https://www.instagram.com/raunakkarn555/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://github.com/raunakkarn555/"><i class="fa-brands fa-square-github"></i></a>

        </div>
        <div class="f-info-brand">&copy; 2026 WonderLust. All rights reserved.</div>
        <div class="f-info-links mb-3">
            <a href="/about">About Us</a>
            <a href="/developer">About Raunak Karn</a>
            <a href="/contact">Contact</a>
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>